<!DOCTYPE html>
<html>

<head>
    <title>Zero NPC</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include ('./layout/layout') %>
        <h1 style="color: #313131;">Contact Inquiry</h1>
        <p>Name: <%= name %>
        </p>
        <p>Email: <%= email %>
        </p>
        <p>Contact: <%= contact %>
        </p>
        <p>
            <%= message %>
        </p>
        <p style="margin-top: 40px;">Best regards,</p>
        <p>The Zero NPC Team</p>
        </div>
        </div>
</body>

</html>